/* Цвет основного текста #212121 */
/* Вторичный цвет #757575 */
/* Белый #FFFFFF */
/* Черный #000000 */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* Цвет фона Футера #2F303A */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --black: #000000;
  --white: #ffffff;
}

.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.logo {
  color: var(--black);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

/* Site nav */

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--secondary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

/* Hero */

.hero-title {
  color: var(--primary-text-color);
}

/* Section */

.section-title {
  color: var(--primary-text-color);
}

/* Block */

.block-title {
  color: var(--primary-text-color);
}

/* изменить цвет ссылки на белый */
.activities-link {
  color: var(--accent-color);
}

.activities-link:hover,
.activities-link:focus {
  color: var(--black);
}

/* Team */
.team-section {
  background-color: #f5f4fa;
}

.name {
  color: var(--primary-text-color);
}

.profession {
  color: var(--secondary-text-color);
}

.social-link:hover,
.social-link:focus {
  color: var(--accent-color);
}

/* Clients */

.client-logo:hover,
.client-logo:focus {
  color: var(--accent-color);
}

/* Footer */

.page-footer {
  background-color: #2f303a;
  color: var(--white);
}

.contact-item {
  color: rgba(255, 255, 255, 0.6);
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
}

.page-footer .social-link {
  color: var(--white);
}

/* Button */

.button {
  color: var(--primary-text-color);
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--white);
}
